.ct-form {
    @include ctForm;
}

.form-create {
    @include formCreate;
}

.inpt-create {
    @include inptCreate;
}

.bt-form-send {
    @include bt-fill;
    margin: 5px 5px 0px 0px;
}

.bt-form-reset {
    @include bt-stroke;
    margin: 5px 5px 0px 0px;
}

.bt-form-create {
    @include bt-fill;
    margin: 20px;
}

.error-register {
    color: firebrick;
}

.txt-title-form {
    color: $colorPrincipal;
}

.txt-label-form {
    color: $colorTertiary;
}

.ct-form-create {
    @include displayFlex;
    justify-content: space-between;
}

.bt-back {
    background-color: transparent;
    border: none;
    margin: 16% 10px 0px 0px;
    @media (min-width: $breakpointMedium) {
        margin: 8% 20px 0px 0px;
    }
    @media (min-width: $breakpointLarge) {
        margin: 5% 20px 0px 0px;
        text-align: start;
        font-size: 1.5rem;
    }
}

.ico-back {
    width: 40px;
    filter: $filterPrincipal;
}