.ct-form {
    @include ctForm;
}

.form-create {
    @include formCreate;
}

.inpt-create {
    @include inptCreate;
}

.bt-form-send {
    margin: 5px 5px 0px 0px;
    background-color: $colorPrincipal;
    border: none;
    border-radius: 2px;
    color: white;
    width: 70px;
    height: 30px;
}

.bt-form-reset {
    margin: 5px 5px 0px 0px;
    background-color: white;
    border: 1px solid $colorPrincipal;
    border-radius: 2px;
    color: $colorPrincipal;
    width: 70px;
    height: 30px;
}