.ct-header {
    @include displayFlex();
    width: 100vw;
    height: 53px;
    background-color: $colorSecondary;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0px;
}

.img-logo {
    filter: $filterPrincipal;
    width: 50%;
    margin-left: 20%;
}

.txtColor1 {
    @include txtColor;
    color: $colorPrincipal;
}

.txtColor2 {
    @include txtColor;
    color: gray;
}

.txt-title {
    @include txtTitle;
}

.txt-subtitle {
    @include txtSubtitle;
}

.nav-item:active {
    background-color: $colorPrincipal !important;
}

.nav-item {
    color: gray !important;
}