$colorPrincipal: #1664A4;
$colorSecondary: #F4F4F4;
$colorCard: #C2DCDE;
$filterPrincipal: invert(26%) sepia(19%) saturate(6454%) hue-rotate(189deg) brightness(99%) contrast(83%);
$breakpointSmall: 576px;
$breakpointMedium: 768px;
$breakpointLarge: 992px;
@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ctCards {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 380px;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
    @media (min-width: $breakpointMedium) {
        grid-template-columns: 300px 300px;
    }
    @media (min-width: $breakpointLarge) {
        grid-template-columns: 300px 300px 300px 300px;
    }
}

@mixin txtTitle {
    color: $colorPrincipal;
    margin: 16% 0px 0px 0px;
    text-align: center;
    font-size: 1.1rem;
    @media (min-width: $breakpointMedium) {
        margin: 8% 0px 0px 20px;
        text-align: start;
        font-size: 1.5rem;
    }
    @media (min-width: $breakpointLarge) {
        margin: 5% 0px 0px 20px;
        text-align: start;
        font-size: 1.5rem;
    }
}

@mixin txtSubtitle {
    color: $colorPrincipal;
    margin: 5px 0px 0px 0px;
    @media (min-width: $breakpointMedium) {
        margin: 5px 0px 0px 20px;
    }
}

@mixin ctForm {
    @include displayFlex();
    flex-direction: column;
    @media (min-width: $breakpointLarge) {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 15px;
    }
}

@mixin formCreate {
    @include displayFlex();
    flex-direction: column;
    @media (min-width: $breakpointLarge) {
        flex-direction: row;
        margin-left: 15px;
    }
}

@mixin inptCreate {
    margin: 10px 0px 0px 0px;
    width: 300px;
    height: 25px;
    @media (min-width: $breakpointMedium) {
        margin: 5px 5px 0px 0px;
        width: auto;
        height: auto;
    }
}

@mixin txtColor {
    font-size: 0.8rem;
    text-decoration: none;
    background: transparent;
    border: none;
    @media (min-width: $breakpointMedium) {
        font-size: 1.5rem;
        text-decoration: none;
    }
}